* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.bg {
    background-color: rgb(224, 186, 114);
}

.bg header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.bg header img {
    width: 120px;
}

.bg header i {
    display: none;
}

.bg header nav ul{
    display: flex;
    gap: 10px;
    align-items: center;
}

.bg header nav ul li {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    transition: .3s ease-in;
    cursor: pointer;
    
}

.bg header nav ul li:hover {
    color: tomato;
}

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.principal img {
    max-width: 70%;
    margin: 0 auto;
}

.principal .titulo {
    max-width: 50%;
    justify-self: center;
}

.principal .titulo h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.principal .titulo h4 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.principal figure {
    display: flex;
    position: relative;
    align-items: center;
    justify-self: center;
}

.principal span {
    position: absolute;
    font-size: 2.3rem;
    bottom: 100px;
    color: aliceblue;
    background-color: tomato;
    padding: 10px;
    border-radius: 20%;
    cursor: pointer;
    
}

@media(max-width: 700px) {
    .bg header nav ul {
        display: none;
    }

    .titulo h1, h4 {
        display: none;
    }

    .bg header nav ul.ativo {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        margin-top: 0px;
        padding: 10px;
        animation: animation .5s forwards;
    }

    nav ul li {
        text-decoration: underline;
        margin-bottom: -40px;
    }

    .bg header img {
        width: 200px;
    }

    .bg header i {
        display: block;
        position: absolute;
        right: 80px;
        font-size: 2.5rem;
    }

    .bg header i.ativo nav ul {
        display: block !important;
    }

    .principal {
        grid-template-columns: 1fr;
    }

    .principal img {
        width: 420px;
    }

    .principal span {
        left: 10px;
        font-size: 1rem;
    }
}

@keyframes animation {
    from {
        transform: translate3d(0, -60px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/*Popular*/

.titulo-hamburguer {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    padding: 80px 40px 60px 80px;
}

.popular {
    border-radius: 4px 0 0 4px;
    background-image: url(imagens/hamburguer1.png);
    grid-column: 1/2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 430px;
    padding: 10px;
}

.popular h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 2rem;
}

.popular span {
    color: yellow;
    font-weight: bold;
   
}

.popular i {
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;

}

.popular-secundario {
    display: grid;
    gap: 30px;

}

.terca {
    border-radius: 4px 0 0 4px;
    background-image: url(imagens/hamburguer2.png);
    padding: 10px;
    height: 200px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: stretch;

}

.terca h3 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 10px;

}

.terca span {
    font-weight: bold;
    color:yellow;
   
}

.quarta {
    border-radius: 4px 0 0 4px;
    background-image: url(imagens/hamburguer3.png);
    padding: 10px;
    height: 200px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: stretch;

}

.quarta h3 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 10px;

}

.quarta span {
    font-weight: bold;
    color: yellow;
}

@media(max-width: 700px) {
    .titulo-hamburguer {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    
}

/*Cardapio*/

.cardapio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    gap: 15px;
}

.cardapio h2 {
    grid-column: 1/-1;
    text-align: center;
    font-size: 3rem;
}

.cardapio h3 {
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
}

.cardapio h1 {
    font-size: 4rem;
    grid-column: 1/-1;
    text-align: center;
    letter-spacing: 3px;
    font-family: monospace;
}

.cardapio p {
    width: 70%;
    margin: 0 auto;
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.burguer-cardapio {
    display: grid;
    margin: 6px 40px;
    gap: 10px;
    justify-items: center;
    align-items: start;

    box-shadow: 0px 5px 10px 2px;
    border-radius: 40% 5px 40% 5px;
}

.burguer-cardapio img {
    max-width: 60%;
}

.burguer-cardapio h4 {
    text-align: center;
}

.burguer-cardapio p {
    width: 80%;
}

.burguer-cardapio .button-cardapio {
    padding: 15px 40px;
    font-weight: bold;
    color: #fff;
    background-color: tomato;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: .5s ease-in;
}

.burguer-cardapio .button-cardapio:hover {
    opacity: .6;
}

@media(max-width: 900px) {
    .cardapio {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 700px) {
    .cardapio {
        grid-template-columns: 1fr;

    }

    .burguer-cardapio {
        box-shadow: 3px;
        border-radius: 6px;
    }
    
}

/* DISCOVER */

.discover {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding: 30px;
}

.discover .grid-text {
    display: grid;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    text-align: end;
}

.discover p {
    display: none;
    max-width: 80%;
    margin: 0 0 0 150px;
}

.discover p.ativo {
    display: block;
    animation: animationRename .8s forwards;
}

.flex-discover {
    cursor: pointer;
    margin-bottom: 60px;
}

@keyframes animationRename{
    from {
        transform: translate3d(90px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }

}

@media(max-width: 900px){
   .discover {
        justify-items: center;
        grid-template-columns: 1fr;
    }

    .discover div {
        text-align: center;
    }

    .discover .grid-text {
        grid-row: 2;
        text-align: center;
        margin-top: -60px;
    }

    .discover p {
        display: none;
        font-size: .8rem;
        text-align: center !important;
        margin: 0 auto 30px auto !important;
    }

}

/*Reserva*/

.reserva {
    background-image: url(imagens/hamburguer\ backgroud\ \(1\).jpg);
    background-size: cover;
    padding: 90px;
    background-position: center;
}

.reserva h1 {
    margin-bottom: 30px;
    text-decoration: underline;
    color: tomato;
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.reserva-grid {
    background-color: rgba(0, 0, 0, 0.668);
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px;
    margin: 0 auto;
}


.reserva-grid input {
    align-self: center;
    padding: 12px 76px 14px 8px;
    border-radius: 4px;
    border: none;
    justify-self: start;
}

.reserva-grid input::placeholder {
    font-size: .9rem;
    color: black;
}

.reserva-grid button {
    cursor: pointer;
    grid-column: 3;
    grid-row: 1/-1;
    justify-self: center;
    padding: 20px 80px;
    border-radius: 6px;
    background-color: tomato;
    border: none;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
}

@media(max-width: 700px){
    .reserva-grid {
        display: grid;
        grid-template-columns: 1fr;
      
    } 

    .reserva h1 {
        margin-bottom: 100px;
    }

    .reserva-grid input {
        padding: 2px 20px 1px 1px;

    }

    .reserva-grid button {
        padding: 5px 20px;
        grid-column: 1;

    }

}

/* Scroll JS */

.js-scroll {
    opacity: 0;
}

.js-scroll.ativo {
    opacity: 1;
    animation: scrollSlide .6s forwards;
}

@keyframes scrollSlide {
    from {
        transform: translate3d(-90px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Footer */

footer {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.478)), url(imagens/footer\ background.jpeg);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding: 60px;
}

footer h1 {
    text-align: center;
    font-size: 3rem;
    grid-column: 1;
    grid-row: 1;
    color: #fff;
}

footer p {
    color: #fff;
    grid-column: 1;
    max-width: 50%;
    justify-self: center;
    grid-row: 2;
    font-size: 1.3rem;
}

.network-footer {
    color: tomato;
    display: grid;
    grid-row: 1;
    justify-self: center;
    gap: 20px;
    font-size: 1.23rem;

}

.company {
    grid-row: 3;
    grid-column: 1/-1;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.company h6 {
    text-align: center;
    align-self: center;
    color: #fff;
    font-size: 1.2rem;
}

.icones-footer {
    color: tomato;
    font-size: 1.6rem;
    gap: 30px;
    display: flex;
    cursor: pointer;
}

@media(max-width: 700px) {
    footer h1 {
        font-size: 2rem;
    }

    footer p {
        font-size: .8rem;
    }
    .network-footer {
        display: none;
    }

    .company h6{
        font-size: .8rem;
    }

    .icones-footer {
        gap: 3px;
    }

}



